body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero {
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    color: white;
}

.hero-content {
    margin: 50px auto 0 auto;
    width: 80%;
    text-align: center;
}

.hero-content h1 {
    font-size: 56px;
    color: white;
    text-shadow: 2px 2px 4px #000;
    text-transform: uppercase;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid;
}

.hero nav ul {
    margin: 20px 50px 0 0;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}