header {
    display: block;
    height: 660px;
    text-align: center;
}

header h1 {
    font-size: 58px;
    color: white;
    padding-top: 15%;    
}

header p {
    font-size: 24px;
    color: white;
    margin-top: 80px;
}

body {
    background-image: url(imagens/bg-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-color: #ccc;
    margin: auto;
}

.secoes_cursos {
    margin: auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.secoes_cursos a {
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
}

.secoes_cursos a:hover {
    background-color: blue;
    color: white;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 40px;
}

.menu li a {
    text-decoration: none;
    color: white;
    border: #fff 2px solid;
    padding: 10px;
    background-color: #565555;
}

.menu li a:hover {
    background-color: white;
    color: #565555;
    border: #565555 2px solid;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #999;
    color: white;
}