body {
    font-size: 22px;
    font-family: sans-serif;
    width: 700px;
    margin: auto;

    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat; /*Não repete a imagem*/
    background-attachment: fixed; /*Fixa a imagem para não scrollar*/
    background-size: cover; /*Cobre todo o fundo*/
    background-position: right bottom; /*Posiciona a imagem no canto inferior direito*/
}

h1, h2 {
    text-align: center;
}

p {
    line-height: 1.5;
    text-align: justify;
}

.img-logo {
    display: block;
    margin: auto;
    width: 400px;
}

.img-html {
    float: left;
}

.img-css {
    float: right;
}

img {
    display: block;
    margin: auto;
}