body {
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title {
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 0;
}

.header {
    display: flex;
    background-color: #05080a;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;
}

.header__links {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px;
}

.header__links a {
    color: white;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
}

.header__nav a:hover {
    text-decoration: underline;
}

a.header__nav--active {
    background-color: #cbe300;
    color: #0c1014;
    pointer-events: none; /* Desativa o link ativo */
}

.pricing {
    display: flex;
    gap: 16px;
}

.pricing-plan {
    flex: 1;
    background-color: #1f262c;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 12px -6px black;
    display: flex;
    flex-direction: column;
}

.class-plan__title {
    text-transform: uppercase;
    border-bottom: 2px solid #cbe300;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px; /* Espaçamento entre letras */
}

.pricing-plan p {
    margin-top: 0;   
}

.pricing-plan__price {
    font-size: 34px;
}

.pricing-plan__features {
    margin: 0 0 35px 0;
    color: #b5b5b5;
    padding-left: 16px;
    line-height: 1.8; /* Espaçamento entre linhas */
    flex-grow: 1; /* Faz o espaço crescer para empurrar o botão para baixo */
}

.pricing-plan__features li::marker {
    color: #cbe300;
}

.pricing-plan__cta {
    display: block;
    text-align: center;
    background-color: #cbe300;
    color: #0c1014;
    text-decoration: none;
    padding: 16px 10px;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}